<!-- include header -->
<% include ../common/header %>
<!-- / end include -->


<div>


	<div class="page-title">
		<div class="title_left">
			<h3>Manage Discount Coupons</h3>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Add Discount Coupons</h2>
					<div class="clearfix"></div>
				</div>
				<form name="depositCouponForm"
					action="/admin/manage_discount_coupons/save" role="form" method="post"
					class="login-form form-horizontal form-label-left">
					<fieldset>
						<div class="col-sm-12">
							<span class="section">Information</span>
						</div>
						<div class="col-sm-12 col-xs-12 item form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">Code Name <span
									class="text-error">*</span></label>
							<div class="col-md-10 col-sm-10 col-xs-12">
								<input type="text" name="code_name" id="code_name" class="form-control" required
									placeholder="Code Name" />
							</div>
						</div>
						<div class="col-sm-12 col-xs-12 item form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="content">Max Allowed <span
									class="text-error">*</span></label>
							<div class="col-md-10 col-sm-10 col-xs-12">
									<input class="form-control" required type="number" name="max_allowed" id="max_allowed"
										 placeholder="Max Allowed" />
							</div>
						</div>
                        <div class="col-sm-12 col-xs-12 item form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="content">Type<span
									class="text-error">*</span></label>
							<div class="col-md-10 col-sm-10 col-xs-12">
									<input class="form-control" required type="text" name="type" id="type"
										 placeholder="Type" />
							</div>
						</div>
						<div class="col-sm-12 col-xs-12 item form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="content">Used So Far<span
									class="text-error">*</span></label>
							<div class="col-md-10 col-sm-10 col-xs-12">
									<input class="form-control" required type="text" name="used_so_far" id="used_so_far"
										 placeholder="enter used .." />
							</div>
						</div>
                        <div class="col-sm-12 col-xs-12 item form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="content">Expiring On<span
									class="text-error">*</span></label>
							<div class="col-md-10 col-sm-10 col-xs-12">
									<input class="form-control datePicker" required type="text" name="expiring_on" id="expiring_on"
										 placeholder="Please Select Expiring date" />
							</div>
						</div>
					</fieldset>
 

					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-sm-12">
							<!-- Change this to a button or input when using this as a form -->
							<button type="submit" class="btn btn-primary">Submit</button>
							<a href="<%- baseUrl %>admin/manage_discount_coupons" class="btn btn-primary">Cancel</a>
						</div>
					</div>
				</form>
				<!-- /.table-responsive -->
			</div>
		</div>
	</div>
</div>
<!-- Datepicker -->
<script src="<%- baseUrl %>admin/vendors/datepicker/jquery-ui.js"></script>
<link rel="stylesheet" href="<%- baseUrl %>admin/vendors/datepicker/jquery-ui.css">
<script>
	$(document).ready(function() {
		var lastDate = new Date();
		$(function() {
			$(".datePicker").datepicker({
				dateFormat: "mm-dd-yy",
				changeMonth: true,
				changeYear: true,
				//maxDate: lastDate,
				yearRange: '1940:' + new Date().getFullYear()
			});
		});
	});	
</script>

<script src="<%- baseUrl %>validation/additional-methods-file-uploads.js"></script>
<script>
	$(function () {
		$("form[name='depositCouponForm']").validate({
			ignore: [],
			debug: false,
			rules: {
				name: {
					required: true,
					lettersonly: true,
					maxlength: 40,
					normalizer: function (value) {
						return $.trim(value);
					},
					remote: {
						url: "<%- baseUrl %>admin/manage_discount_coupons/checknameexist",
						type: "post",
						data: {
							name: function () {
								return $('input[name="name"]').val();
							}
						},
						beforeSend: function () {
						},
						complete: function (data) {

						}
					},
				},
			},

			messages: {
				name: {
					required: "Please enter the code name.",
					maxlength: "Maximum length is 40.",
					remote: "This name already exist in our system, Please use another."
				},
			},

			submitHandler: function (form) {
				$(":submit").attr("disabled", true);
				form.submit();
			}
		});
	});
</script>


<!-- include footer -->
<% include ../common/footer %>
<!-- / end footer -->