<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="<%-baseUrl%>img/logo.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="<%-baseUrl%>css/icofont.css">
    <link rel="stylesheet" href="<%-baseUrl%>css/style-owner.css">
    <title>OYO</title>
    <div class="right_col" role="main">
      <% if (error.length > 0) { %>
      <div class="alert alert-danger common-notification-alert text-center"
        style="margin-bottom: 0px;padding: 7px 0;"><%- error %></div>
      <% } %>

      <% if (success.length > 0) { %>
      <div class="alert alert-success common-notification-alert text-center"
        style="margin-bottom: 0px;padding: 7px 0;"><%- success %></div>
      <% } %>

      <script>
        setTimeout(function () { 
          $(".common-notification-alert").slideUp(); }, 5000);	
      </script>
  </head>
  <body>
    <div class="onboarding">
      <div class="container">
        <div class="onboarding_title">
          <img src="<%-baseUrl%>img/logo.png" alt="">
          <h2>Import Contacts</h2>
        </div>
        <div class="onboarding_block" style="max-width: 465px;">
          <p style="font-size: 15px;">Please click on the below buttons and import your contacts</p>
          <ul class="import_contact_list mb-0">
            <li>
              <a href="<%-baseUrl%>import_google"><svg id="symbol" xmlns="http://www.w3.org/2000/svg" width="20.475" height="20.474" viewBox="0 0 20.475 20.474">
                <path id="Path_3627" data-name="Path 3627" d="M4.8,106.445a5.405,5.405,0,0,1,.765-2.778v-3.451H2.112a10.243,10.243,0,0,0,0,12.459H5.564v-3.451A5.405,5.405,0,0,1,4.8,106.445Z" transform="translate(0 -96.207)" fill="#fbbd00"/>
                <path id="Path_3628" data-name="Path 3628" d="M198.4,373.722l-2.4,2.4,2.4,2.4a10.16,10.16,0,0,0,6.23-2.112v-3.448h-3.448A5.438,5.438,0,0,1,198.4,373.722Z" transform="translate(-188.162 -358.047)" fill="#0f9d58"/>
                <path id="Path_3629" data-name="Path 3629" d="M56.274,325.477l-3.451,3.451a10.4,10.4,0,0,0,.886,1.009,10.17,10.17,0,0,0,7.239,3v-4.8A5.441,5.441,0,0,1,56.274,325.477Z" transform="translate(-50.711 -312.461)" fill="#31aa52"/>
                <path id="Path_3630" data-name="Path 3630" d="M266.237,199.67a10.325,10.325,0,0,0-.168-1.855l-.09-.492H256v4.8h4.857a5.414,5.414,0,0,1-2.075,2.225l3.448,3.448a10.4,10.4,0,0,0,1.009-.886A10.17,10.17,0,0,0,266.237,199.67Z" transform="translate(-245.763 -189.433)" fill="#3c79e6"/>
                <path id="Path_3631" data-name="Path 3631" d="M202.245,6.392l.424.424,3.393-3.393L205.638,3A10.17,10.17,0,0,0,198.4,0L196,2.4l2.4,2.4A5.4,5.4,0,0,1,202.245,6.392Z" transform="translate(-188.162 0)" fill="#cf2d48"/>
                <path id="Path_3632" data-name="Path 3632" d="M60.947,4.8V0a10.171,10.171,0,0,0-7.239,3,10.391,10.391,0,0,0-.886,1.009l3.451,3.451A5.441,5.441,0,0,1,60.947,4.8Z" transform="translate(-50.71 0)" fill="#eb4132"/>
              </svg>
              Google</a>
            </li>

            <li>
              <a href="<%-baseUrl%>import_outlook"><svg id="logotype" xmlns="http://www.w3.org/2000/svg" width="19.206" height="19.206" viewBox="0 0 19.206 19.206">
                <path id="Path_3633" data-name="Path 3633" d="M272,9h9V.6a.6.6,0,0,0-.6-.6H272Z" transform="translate(-261.797)" fill="#4caf50"/>
                <path id="Path_3634" data-name="Path 3634" d="M9,9V0H.6A.6.6,0,0,0,0,.6V9Z" fill="#f44336"/>
                <path id="Path_3635" data-name="Path 3635" d="M9,272H0v8.4a.6.6,0,0,0,.6.6H9Z" transform="translate(0 -261.797)" fill="#2196f3"/>
                <path id="Path_3636" data-name="Path 3636" d="M272,272v9h8.4a.6.6,0,0,0,.6-.6V272Z" transform="translate(-261.797 -261.797)" fill="#ffc107"/>
              </svg>
              Outlook</a>
            </li>

            <!-- <li>
              <a href="#"><svg id="facebook" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21">
                <path id="Path_3651" data-name="Path 3651" d="M18.375,0H2.625A2.628,2.628,0,0,0,0,2.625v15.75A2.628,2.628,0,0,0,2.625,21h15.75A2.628,2.628,0,0,0,21,18.375V2.625A2.628,2.628,0,0,0,18.375,0Z" fill="#1976d2"/>
                <path id="Path_3652" data-name="Path 3652" d="M201.844,102.563h-3.281V99.938c0-.725.588-.656,1.313-.656h1.313V96h-2.625a3.937,3.937,0,0,0-3.937,3.938v2.625H192v3.281h2.625v7.219h3.938v-7.219h1.969Z" transform="translate(-184.125 -92.063)" fill="#fafafa"/>
              </svg>
              Facebook</a>
            </li>

            <li>
              <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22">
                <text id="linkedin" data-name="" transform="translate(10 18)" fill="#0077b5" font-size="20" font-family="icofont, IcoFont"><tspan x="-10" y="0"></tspan></text>
              </svg>
              Linkedin</a>
            </li> -->

            <!-- <li>
              <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22">
                <text id="apple" data-name="" transform="translate(10 18)" fill="#666" font-size="20" font-family="icofont, IcoFont"><tspan x="-10" y="0"></tspan></text>
              </svg>
              Apple</a>
            </li> -->
          </ul>
        </div>
        <!-- end:onboarding_block -->

        <div class="onboarding_skip">
          <a href="<%- baseUrl %>add-service">Skip</a>
        </div>
      </div>
    </div>
    

   

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/circle-progress.js"></script>
  
  </body>
</html>