<!-- include header -->
<% include ../../common/loggedIn-header %>
<!-- / end include -->

      <div class="main_content">
        <div class="container-fluid">
          <div class="home_detail_more">
            <section class="home_white_blocks">
              <div class="white_block_head">
                <h3>Upcoming Appointments</h3>
              </div>
              <div class="white_block_body">
                <% for(var i=0; i<appointments.length; i++) { %>
                    <div class="white_block_box">
                        <div class="white_block_img">
                          <img src="<%= baseUrl%>uploads/profile/<%= appointments[i].profile %>" alt="">
                        </div>
                        <div class="white_info_box">
                            <p><%= appointments[i].name %> has an upcoming appointment with you for the <%= appointments[i].title %> on the <span class="ispDate<%= appointments[i]._id %>"></span> at <span class="ispTime<%= appointments[i]._id %>"></span>.</p>
                        </div>
                    </div>
                    <script>
                      var finalTimeZone = moment.tz.guess();
                      var appointmentStartTime = moment("<%= appointments[i].utc_start%>").format();
                      var dateTz = moment.tz(appointmentStartTime, "GMT");
                      var newDate = dateTz.clone().tz(finalTimeZone).format("MM-DD-YYYY");
                      var newTime = dateTz.clone().tz(finalTimeZone).format("h:mm A");
                      $(".ispDate<%= appointments[i]._id %>").html(newDate);
                      $(".ispTime<%= appointments[i]._id %>").html(newTime);
                    </script>
                <% } %>
                <% if (appointments.length == 0) { %>
                  <div class="white_block_box">
                    <div class="white_info_box">
                      <p>No data available</p>
                    </div>
                  </div>
                <% } %> 
                <!-- end:white_block_box -->            
              </div>
            </section>
            <!-- end:home_white_blocks -->
          </div>
        </div>
      </div>
      <!-- end:main_content -->
    </div>
    <!-- end:middle_block -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </body>
</html>