<!-- include header -->
<% include ../common/header %>
<!-- / end include -->
<style>
	#datatable_filter {
		display: none !important;
	}

	.table.dataTable thead .sorting:after {
		display: none;
		cursor: default;
	}
	.ipsfilter .form-group {position: relative;}
	.ipsfilter label.error {display: block; position: absolute; left:0; top:100%;}
</style>


<div class="page-title">
	<div class="title_left">
		<h3>Manage popup content </h3>
	</div>
</div>
<div class="form-inline text-right">
	<!-- <div class="form-group">
		<label style="display: block;text-align: left;">Search: </label>
		<input class="form-control input-sm" id="searchCustomInput" placeholder="Search">
	</div>
	<div class="form-group">
		<label style="display: block;text-align: left;">Status: </label>
		<select class="form-control input-sm" id="sortByStatus">
			<option value="">Status</option>
			<option value="active">Active</option>
			<option value="inactive">Inactive</option>
		</select>
	</div> -->
	<div class="form-group">
		<label style="display: block;visibility: hidden;margin-bottom: 10px;">button</label>
		<a class="btn btn-primary btn-sm" href="<%- baseUrl %>admin/manage_pop_content/add"
			style="    border-radius: 0;">+ Add Pop up content</a>
	</div>
</div>
<br />

<div class="row">
	<div class="x_panel">
		<div class="x_title">
			<h2>View All manage pop content</h2>
			<div class="clearfix"></div>
		</div>
		<div class="table-responsive listing-tbl">
			<table id="datatable" class="datatable-responsive table table-striped table-bordered dt-responsive nowrap"
				cellspacing="0" width="100%">
				<thead class="bg-green">
					<tr>
						<th class="column-title" data-field-name="name">S No.</th>
						<th class="column-title" data-field-name="name">Content Title</th>
						
						<th class="column-title" data-field-name="name">Content Image</th>
						<th class="column-title" data-field-name="content_for">Content For</th>
						<th class="column-title" data-field-name="created_date">Expiring on</th>
						<th class="column-title" data-field-name="status">Status</th>
						<th class="column-title">Action</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<result.length; i++) { %>
					<tr>
						<td class="datatable-text-wrap"><span><%= i+1 %></span> </td>
						<td class="datatable-text-wrap"><%= result[i].content_title %></td>
						<td class="datatable-text-wrap"> <a href="javascript:void(0)" data-image-path="<%= baseUrl%>uploads/profile/<%= result[i].content_image %>" class="imageLargeView" title="Click to view large." 
							><img class="img-thumbnail" src="<%= baseUrl%>uploads/profile/<%= result[i].content_image %>" class="form-control" style="width:40px;height:34px;"> </a></td>
						<td class="datatable-text-wrap"><%= result[i].content_for %></td>
<!-- <td>
		<div>
			<% if (result.content_image == '' || result.content_image == 'null' || result.content_image == 'Null') {%>
			<label class="control-label col-md-3 col-sm-3 col-xs-12" for="profileImage"
				style="visibility: hidden;">Image</label>
			<img class="img-thumbnail" src="<%= baseUrl%>admin/images/user.png"
				class="form-control" style="width:40px;height:34px;">
			<input type="hidden" name="uploaded_profileImage" value="" />
			<%}else{%>
			<label class="control-label col-md-3 col-sm-3 col-xs-12" for="profileImage"
				style="visibility: hidden;">Image</label>
			<a title="Click to view large." target="_blank"
				href="<%= baseUrl%>uploads/profile/<%= result[i].content_image %>"><img  class="img-thumbnail" style="width:40px;height:34px;" class="form-control"
					 src="<%= baseUrl%>uploads/profile/<%= result[i].content_image %>"
					class="form-control" style="width:40px;height:34px;"></a>
			<input type="hidden" name="uploaded_profileImage" value="<%= result.content_image %>" />
			<%}%>
			</div>	</td> -->
						<!-- <td class="datatable-text-wrap"><span
								class="hidden"><%= dateFormat(result[i].expiring_on, "yyyy-mm-dd HH:MM:ss"); %></span><%= dateFormat(result[i].expiring_on, "dd-mm-yyyy h:MM:ss TT"); %>
						</td> -->
						<td class="datatable-text-wrap">
							<script>
								// var dateTz = moment("<%= result[i].expiring_on %>").tz('America/Chicago').format("MM-DD-YYYY");
								// document.write(dateTz);
								var dateTz = moment("<%= result[i].expiring_on %>").tz('utc').format("MM-DD-YYYY");
								document.write(dateTz);
								
							</script>
						</td>
						<td class="datatable-text-wrap">
							<% if(result[i].status == 'active'){ %>
							<span class="label label-success">Active</span>
							<% }else{ %>
							<span class="label label-danger">Inactive</span>
							<% } %>
						</td>
						<td class="datatable-text-wrap">
							<div class="ac_action"><i class="fa fa-cogs" style="margin-left: 150%;"></i>
								<div>
									<a href="<%- baseUrl %>admin/manage_pop_content/edit/<%- result[i]._id %>"><i
											class="fa fa-pencil-square-o"></i> Edit</a>
									<% if(result[i].status == 'inactive'){ %>
									<a
										href="<%- baseUrl %>admin/manage_pop_content/changeStatus/active/<%- result[i]._id %>"><i
											class="glyphicon glyphicon-minus-sign"></i> Active</a>
									<% }else{ %>
									<a
										href="<%- baseUrl %>admin/manage_pop_content/changeStatus/inactive/<%- result[i]._id %>"><i
											class="glyphicon glyphicon-minus-sign"></i> Inactive</a>
									<% } %>

									<a class="deleteButton"
										onclick="return confirm('To confirm, do you really want to delete this POP up?');"
										href="<%- baseUrl %>admin/manage_pop_content/delete/<%- result[i]._id %>"><i
											class="glyphicon glyphicon-remove-sign"></i> Delete</a>
								</div>
							</div>
						</td>


					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
	<!-- /.table-responsive -->
</div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Image</h4>
			</div>
			<div class="modal-body">
				<center><img id="imageLargeViewImg" src="" class="img-thumbnail" class="form-control" style="width:100%; height:auto;"></center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<!-- Datatable -->
<script src="<%- baseUrl %>admin/vendors/datatables.net/jquery.dataTables.min.js"></script>
<link href="<%- baseUrl %>admin/vendors/datatables.net/jquery.dataTables.min.css" rel="stylesheet">
<script src="<%- baseUrl %>admin/vendors/datatables.net/natural.js"></script>
<script>
	$(document).ready(function () {
		$('.imageLargeView').click(function(){
			var imageSrc = $(this).attr('data-image-path');
			$('#imageLargeViewImg').attr("src",imageSrc);
			$('#myModal').modal('show');

		});
		oTable = $('#datatable').DataTable({
			//order: [[2, 'desc']],
			order: false,
			"columnDefs": [{ "orderable": false, "targets": 2 },{ "orderable": false, "targets": 5 }, { targets: 0, type: "natural" }],
			"dom": '<"top"i>rt<"bottom"flp><"clear">',
		});

		$('#sortByStatus').change(function () {
			var term = $(this).val(),
				regex = '\\b' + term + '\\b';
			oTable.columns(1).search(regex, true, false).draw();
		});
		$('#searchCustomInput').keyup(function () {
			oTable.search($(this).val()).draw();
		});
	});
</script>

<!-- include footer -->
<% include ../common/footer %>
<!-- / end footer -->