<!-- include header -->
<% include ../common/header %>
<!-- / end include -->


<div>
	<div class="page-title">
		<div class="title_left">
			<h3>Manage Subscription Plan</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Edit Subscription Plan</h2>
					<div class="clearfix"></div>
				</div>
				<form name="discountCouponForm"
					action="/admin/manage_subscription_plan/update" role="form" method="post"
					class="login-form form-horizontal form-label-left">
					<fieldset>
						<div class="col-sm-12">
							<span class="section">Information</span>
						</div>
                        <div class="col-sm-12 col-xs-12 item form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">Plan Name <span
									class="text-error">*</span></label>
							<div class="col-md-10 col-sm-10 col-xs-12">
								<input type="text" name="plan_name" id="plan_name" value="<%= result.plan_name %>" class="form-control" required
									placeholder="Plan Name" />
							</div>
						</div>
						<div class="col-sm-12 col-xs-12 item form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="content">Trial Duration in Days<span
									class="text-error">*</span></label>
							<div class="col-md-10 col-sm-10 col-xs-12">
									<input class="form-control" required type="text" name="trial_duration" id="trial_duration" value="<%= result.trial_duration %>"
										 placeholder="Trial Duration" />
							</div>
						</div>
						<div class="col-sm-12 col-xs-12 item form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="content">Monthly Price<span
									class="text-error">*</span></label>
							<div class="col-md-10 col-sm-10 col-xs-12">
									<input class="form-control" required type="text" name="monthly_price" id="monthly_price" value="<%= result.monthly_price %>" max="1000000"
										 placeholder="Monthly Price" />
							</div>
						</div>
                        <!-- <div class="col-sm-12 col-xs-12 item form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="content">Annual Price<span
									class="text-error">*</span></label>
							<div class="col-md-10 col-sm-10 col-xs-12">
									<input class="form-control" required type="text" name="annual_price" id="annual_price" value="<%= result.annual_price %>" max="1000000"
										 placeholder="Annual Price" />
							</div>
						</div> -->
						
					</fieldset>


					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="hidden" name="_id" value="<%= result._id  %>" />
									<button type="submit" class="btn btn-primary">Submit</button>
									<a href="<%- baseUrl %>admin/manage_subscription_plan" class="btn btn-primary">Cancel</a>
								</div>
							</div>
				</form>
				<!-- /.table-responsive -->
			</div>
		</div>
	</div>
</div>

<!-- Datepicker -->
<script src="<%- baseUrl %>admin/vendors/datepicker/jquery-ui.js"></script>
<link rel="stylesheet" href="<%- baseUrl %>admin/vendors/datepicker/jquery-ui.css">
<script>
	$(document).ready(function() {
		var lastDate = new Date();
		$(function() {
			$(".datePicker").datepicker({
				dateFormat: "mm-dd-yy",
				changeMonth: true,
				changeYear: true,
				//maxDate: lastDate,
				yearRange: '1940:' + new Date().getFullYear()
			});
		});
	});	
</script>

<script src="<%- baseUrl %>validation/additional-methods-file-uploads.js"></script>
<script>
	$(function () {
		$('#monthly_price').on('input', function () {
        this.value = this.value.match(/^\d+\.?\d{0,2}/);
        });
	   $('#annual_price').on('input', function () {
        this.value = this.value.match(/^\d+\.?\d{0,2}/);
        });
		$("form[name='discountCouponForm']").validate({
			ignore: [],
			debug: false,
			rules: {
				plan_name: {
					required: true,
					lettersonly: true,
					maxlength: 50,
					normalizer: function (value) {
						return $.trim(value);
					},
					remote: {
						url: "<%- baseUrl %>admin/manage_subscription_plan/checknameexistexceptthis",
						type: "post",
						data: {
							name: function () {
								return $('input[name="name"]').val();
							},
							user_id: function () {
								return $('input[name="_id"]').val();
							}
						},
						beforeSend: function () {
						},
						complete: function (data) {

						}
					}
				},
				// annual_price: {
				// 	required : true,
				// 	//annual_Price_lessThen_Monthly_Price:['annual_price','monthly_price'],
				// 	positiveNumber:true,
				// 	greaterThan: "#monthly_price"

				// },
				trial_duration: {
					required : true,
					positiveNumber:true,
					digits:true

				},
				monthly_price: {
					required : true,
					positiveNumber:true

				}
			},

			messages: {
				plan_name: {
					required: "Please enter plan name.",
					maxlength: "Maximum length is 50.",
					remote: "This name already exist in our system, Please use another."
				},
				trial_duration: {
					required: "Please enter trial duration.",
				},
				// annual_price: {
				// 	required: "Please enter annual price.",
				// 	greaterThan:"Annual price should be greater than monthly plan."
				// },
				monthly_price: {
					required: "Please enter monthly price.",
					//annual_Price_lessThen_Monthly_Price:"Monthly plan should be less than annual plan."
				},
			},

			submitHandler: function (form) {
				$(":submit").attr("disabled", true);
				form.submit();
			}
		});
	});
</script>


<!-- include footer -->
<% include ../common/footer %>
<!-- / end footer -->