<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reset Password</title>

    <!-- Bootstrap -->
    <link href="<%- baseUrl %>admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="<%- baseUrl %>admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="<%- baseUrl %>admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="<%- baseUrl %>admin/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="<%- baseUrl %>admin/build/css/custom.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="<%- baseUrl %>admin/build/css/custom.css" rel="stylesheet">
	
	<script src="<%- baseUrl %>admin/vendors/jquery/dist/jquery.min.js"></script>

	<!-- validation -->
    <script src="<%- baseUrl %>validation/jquery.validate.min.js"></script>
    <script src="<%- baseUrl %>validation/custom.validate.js"></script>

  </head>

  <body class="login">
    <div>
      <% if (error.length > 0) { %>
			<div class="alert alert-danger common-notification-alert text-center"><%- error %></div>
	  <% } %>

	   <% if (success.length > 0) { %>
			<div class="alert alert-success common-notification-alert text-center"><%- success %></div>
	  <% } %>
	  <script>
		setTimeout(function(){ $('.common-notification-alert').slideUp();}, 5000);	
	  </script>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
		  <div class="col-sm-12 text-center" style="margin-bottom: 19px;">
				<a href="<%- baseUrl %>admin"><img src="<%- baseUrl %>admin/images/logo.png" alt="Logo" style="width: 24%;"></a>
			</div>
            <form name="reset_password" role="form" action="/admin/staff/reset_password" role="form" method="post" class="login-form ">
				<h1>Congratulation</h1>
				<div class="form-group" >
					We have successfully reset your password.
				</div>
				
				
			</form>
          </section>
		   <div class="separator">
		   </div>
        </div>
		</div>
<style>
form label.error {
    color: #a94442;
    font-weight: 100;
    font-size: 11px;
	    float: left;
}
.login_content form input, .login_content form select, .login_content form textarea{
       margin-bottom: 0 !important;
}
.login_content form .form-group{
    height: 52px;
}
</style>		
<script>
/**
		setTimeout(function(){ 
		    var URL = '<%- baseUrl %>';
			location.replace(URL);
		}, 5000);	
**/		
</script>
</html>
