<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
	<div class="menu_section">
		<ul class="nav side-menu">
			<% if (user_admin_session.role_id == "1") { %>
			<li class="dashboard">
				<a href="<%- baseUrl %>admin/dashboard"
					><i class="fa fa-home"></i><label>Dashboard</label>
				</a>
			</li>
			<li class="customer">
				<a href="<%- baseUrl %>admin/customer"
					><i class="fa fa-users"></i> <label>Customers</label></a
				>
			</li>

			<li class="isps">
				<a href="<%- baseUrl %>admin/isps"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="20.829"
						height="20.829"
						viewBox="0 0 20.829 20.829"
						fill="#fff"
						style="top: 5px; position: relative"
					>
						<g
							id="Group_7524"
							data-name="Group 7524"
							transform="translate(342 -7372)"
						>
							<g
								id="Group_7523"
								data-name="Group 7523"
								transform="translate(-342 7372)"
							>
								<g
									id="Group_7518"
									data-name="Group 7518"
									transform="translate(7.854 0)"
								>
									<path
										id="Path_4224"
										data-name="Path 4224"
										d="M24.22,3.777c0,1.823-1.172,3.3-2.56,3.3-1.432,0-2.56-1.475-2.56-3.3a2.569,2.569,0,1,1,5.12,0Z"
										transform="translate(-19.1 -1)"
									/>
								</g>
								<g
									id="Group_7519"
									data-name="Group 7519"
									transform="translate(5.468 6.596)"
								>
									<path
										id="Path_4225"
										data-name="Path 4225"
										d="M23.494,18.326v1.823H13.6V18.326a1.454,1.454,0,0,1,.824-1.3,10.193,10.193,0,0,1,2.864-.824,3.156,3.156,0,0,0,1.258.3,2.568,2.568,0,0,0,1.258-.3,11.738,11.738,0,0,1,2.864.781A1.539,1.539,0,0,1,23.494,18.326Z"
										transform="translate(-13.6 -16.2)"
									/>
								</g>
								<g
									id="Group_7520"
									data-name="Group 7520"
									transform="translate(0 11.413)"
								>
									<path
										id="Path_4226"
										data-name="Path 4226"
										d="M21.829,28.168v.955a.87.87,0,0,1-.868.868H1.868A.87.87,0,0,1,1,29.123v-.955a.87.87,0,0,1,.868-.868H20.961A.87.87,0,0,1,21.829,28.168Z"
										transform="translate(-1 -27.3)"
									/>
								</g>
								<g
									id="Group_7521"
									data-name="Group 7521"
									transform="translate(2.17 15.014)"
								>
									<path
										id="Path_4227"
										data-name="Path 4227"
										d="M22.49,35.6v5.381a.435.435,0,0,1-.434.434H6.434A.467.467,0,0,1,6,40.981V35.6Z"
										transform="translate(-6 -35.6)"
									/>
								</g>
								<g
									id="Group_7522"
									data-name="Group 7522"
									transform="translate(3.726 2.994)"
								>
									<path
										id="Path_4228"
										data-name="Path 4228"
										d="M12.847,7.9a4.543,4.543,0,0,0,1.172,2.907c-1.823.391-3.6,1-3.6,2.821v1.823H9.853L9.593,10.2a2.11,2.11,0,0,1,2.083-2.3Z"
										transform="translate(-9.587 -7.9)"
									/>
									<path
										id="Path_4229"
										data-name="Path 4229"
										d="M34.57,10.2l-.3,5.251H33.7V13.628c0-1.866-1.779-2.43-3.6-2.821A4.677,4.677,0,0,0,31.315,7.9H32.53A2.132,2.132,0,0,1,34.57,10.2Z"
										transform="translate(-21.199 -7.9)"
									/>
								</g>
							</g>
						</g></svg
					><label>Business Owners</label></a
				>
			</li>
			<li class="service_category">
				<a href="<%- baseUrl %>admin/service_category"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						viewBox="0 0 500 500"
						h="20.829"
						height="20.829"
						style="top: 5px; position: relative"
					>
						<g>
							<g>
								<path
									d="M441.348,382.642c-11.9,0-22.956,3.584-32.212,9.688l-88.324-88.744c-0.748-0.748-1.584-1.332-2.456-1.836    c10.924-14.4,17.424-32.332,17.424-51.752c0-27.66-13.172-52.284-33.556-67.984l36.38-63.916c5.98,1.98,12.352,3.092,18.984,3.092    c33.4,0,60.572-27.168,60.572-60.568c0-33.396-27.172-60.568-60.572-60.568c-33.4,0-60.568,27.176-60.568,60.572    c0,18.364,8.248,34.808,21.192,45.924l-36.34,63.836c-9.864-3.96-20.612-6.168-31.872-6.168c-19.388,0-37.284,6.476-51.668,17.364    c-0.18-0.208-0.316-0.436-0.512-0.628l-49.764-50.008c2.692-5.304,4.244-11.28,4.244-17.624c0-21.56-17.536-39.1-39.096-39.1    c-21.56,0-39.096,17.544-39.096,39.1c0,21.556,17.536,39.096,39.096,39.096c6.692,0,12.996-1.696,18.504-4.668l49.5,49.74    c0.196,0.196,0.424,0.336,0.632,0.516c-11.04,14.436-17.62,32.46-17.62,51.996c0,17.18,5.096,33.18,13.828,46.608L96.24,367.53    c-10.032-7.384-22.372-11.808-35.756-11.808C27.132,355.722,0,382.854,0,416.206c0,33.352,27.132,60.484,60.484,60.484    s60.484-27.132,60.484-60.484c0-11.5-3.284-22.228-8.88-31.396l81.276-70.464c15.124,13.324,34.944,21.432,56.636,21.432    c19.744,0,37.94-6.724,52.452-17.976c0.484,0.82,1.044,1.608,1.752,2.316l88.316,88.74c-6.196,9.296-9.828,20.444-9.828,32.432    c0,32.34,26.316,58.656,58.656,58.656c32.344,0,58.652-26.312,58.652-58.656C500,408.954,473.692,382.642,441.348,382.642z"
								/>
							</g>
						</g></svg
					><label>Service Categories</label></a
				>
			</li>
			<li class="manage_discount_coupons">
				<a href="<%- baseUrl %>admin/manage_discount_coupons"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						width="20.829"
						height="20.829"
						viewBox="0 0 29.872 29.872"
						style="top: 5px; position: relative"
					>
						<g>
							<g>
								<path
									d="M26.761,15.56L16.861,5.66c-0.829-0.83-2.17-1.3-3.335-1.171L9.814,4.902l0.548-3.758    c0.079-0.546-0.299-1.054-0.846-1.134C8.97-0.068,8.462,0.308,8.382,0.855L7.759,5.13L5.965,5.329    c-1.386,0.155-2.714,1.481-2.87,2.872l-0.839,7.558c-0.13,1.166,0.34,2.507,1.17,3.337l9.899,9.899    c1.17,1.169,3.072,1.169,4.242,0l9.192-9.191C27.93,18.633,27.93,16.729,26.761,15.56z M7.878,11.245    c0.324,0.047,0.636-0.066,0.852-0.283c0.147-0.146,0.25-0.34,0.282-0.562L9.26,8.697c0.06,0.047,0.122,0.089,0.177,0.145    c0.781,0.781,0.78,2.047,0,2.828c-0.781,0.781-2.047,0.782-2.829,0c-0.78-0.78-0.78-2.047,0-2.828    c0.199-0.199,0.43-0.347,0.675-0.443l-0.25,1.713C6.954,10.658,7.332,11.165,7.878,11.245z M16.315,21.407l-1.012,1.011    l-2.079-9.803l1.019-1.02L16.315,21.407z M15.974,16.596c-0.016-0.565,0.206-1.077,0.665-1.535    c0.441-0.442,0.915-0.656,1.421-0.643c0.505,0.015,0.995,0.259,1.472,0.733c0.488,0.489,0.74,1.015,0.758,1.578    c0.017,0.562-0.203,1.073-0.658,1.529c-0.423,0.422-0.897,0.629-1.424,0.618c-0.525-0.01-1.017-0.24-1.47-0.693    C16.244,17.689,15.988,17.16,15.974,16.596z M13.581,17.422c0.015,0.562-0.207,1.069-0.662,1.524    c-0.423,0.423-0.897,0.629-1.424,0.62c-0.526-0.01-1.016-0.241-1.469-0.694c-0.494-0.494-0.749-1.023-0.765-1.589    c-0.015-0.564,0.207-1.076,0.665-1.535c0.439-0.438,0.914-0.65,1.424-0.636c0.51,0.015,1.002,0.26,1.477,0.735    C13.316,16.336,13.567,16.861,13.581,17.422z M26.054,19.095l-9.192,9.191c-0.779,0.78-2.048,0.78-2.828,0l-9.899-9.898    c-0.606-0.607-0.979-1.666-0.883-2.52l0.838-7.556c0.054-0.471,0.292-0.939,0.672-1.319c0.38-0.38,0.849-0.618,1.316-0.67    l1.533-0.17L7.462,7.176L6.189,7.316C5.642,7.377,5.145,7.874,5.085,8.421l-0.839,7.559c-0.062,0.547,0.207,1.312,0.596,1.701    l9.899,9.898c0.389,0.39,1.024,0.39,1.413,0l9.192-9.191c0.39-0.39,0.39-1.025,0-1.414l-9.898-9.899    c-0.389-0.389-1.154-0.658-1.701-0.596L9.518,6.947l0.148-1.021l3.972-0.441c0.852-0.095,1.911,0.276,2.518,0.883l9.899,9.899    C26.833,17.046,26.833,18.315,26.054,19.095z"
								/>
								<path
									d="M18.951,17.479c0.393-0.393,0.312-0.864-0.24-1.417c-0.257-0.257-0.509-0.403-0.754-0.439    c-0.246-0.036-0.455,0.032-0.626,0.203c-0.4,0.4-0.32,0.881,0.239,1.442C18.101,17.8,18.561,17.869,18.951,17.479z"
								/>
								<path
									d="M10.631,16.502c-0.403,0.403-0.325,0.886,0.236,1.446c0.53,0.53,0.987,0.604,1.371,0.22    c0.392-0.392,0.312-0.864-0.24-1.417C11.459,16.212,11.004,16.129,10.631,16.502z"
								/>
							</g>
						</g></svg
					><label>Discounts</label></a
				>
			</li>
			<!-- <li class="manage_subscription_plan"><a href="<%- baseUrl %>admin/manage_subscription_plan"><i
				 class="fa fa-cc-discover"></i> <label>Subscription</label></a></li> -->
			<li class="Payments">
				<a href="<%- baseUrl %>admin/Payments"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						width="20.829"
						height="20.829"
						style="top: 5px; position: relative"
					>
						<path d="M12 8v5h5v-2h-3V8z" />
						<path
							d="M21.292 8.497a8.957 8.957 0 0 0-1.928-2.862 9.004 9.004 0 0 0-4.55-2.452 9.09 9.09 0 0 0-3.626 0 8.965 8.965 0 0 0-4.552 2.453 9.048 9.048 0 0 0-1.928 2.86A8.963 8.963 0 0 0 4 12l.001.025H2L5 16l3-3.975H6.001L6 12a6.957 6.957 0 0 1 1.195-3.913 7.066 7.066 0 0 1 1.891-1.892 7.034 7.034 0 0 1 2.503-1.054 7.003 7.003 0 0 1 8.269 5.445 7.117 7.117 0 0 1 0 2.824 6.936 6.936 0 0 1-1.054 2.503c-.25.371-.537.72-.854 1.036a7.058 7.058 0 0 1-2.225 1.501 6.98 6.98 0 0 1-1.313.408 7.117 7.117 0 0 1-2.823 0 6.957 6.957 0 0 1-2.501-1.053 7.066 7.066 0 0 1-1.037-.855l-1.414 1.414A8.985 8.985 0 0 0 13 21a9.05 9.05 0 0 0 3.503-.707 9.009 9.009 0 0 0 3.959-3.26A8.968 8.968 0 0 0 22 12a8.928 8.928 0 0 0-.708-3.503z"
						/></svg
					><label>History</label>
				</a>
			</li>

			<!-- <li class="staff"><a href="<%- baseUrl %>admin/staff"><i class="fa fa-cubes"></i> Staff </a></li>
			          <li class="subscription"><a href="<%- baseUrl %>admin/subscription/add"><i class="fa fa-archive"></i>
					          Subscriptions </a></li>  -->
			<!-- <li class="static_content"><a href="<%- baseUrl %>admin/static_content"><i class="fa fa-file-code-o"></i>
					        Manage CMS </a></li>		 -->
			<li class="faq">
				<a href="<%- baseUrl %>admin/faq"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="20.829"
						height="20.829"
						viewBox="0 -0.06 33.834 33.834"
						style="top: 5px; position: relative"
					>
						<g transform="translate(-95.748 -577)">
							<path
								d="M110.965,592.309a2.38,2.38,0,0,1,.489-1.434,9.29,9.29,0,0,1,1.443-1.482,10.139,10.139,0,0,0,1.321-1.372,1.985,1.985,0,0,0,.368-1.2,1.956,1.956,0,0,0-1.983-2,2.073,2.073,0,0,0-1.419.543,3.575,3.575,0,0,0-.954,1.582l-2.152-.939a5.029,5.029,0,0,1,1.724-2.656,4.626,4.626,0,0,1,2.9-.927,4.968,4.968,0,0,1,2.287.531,4.168,4.168,0,0,1,1.651,1.495,3.974,3.974,0,0,1,.612,2.175,3.688,3.688,0,0,1-.538,1.965,8.8,8.8,0,0,1-1.639,1.865,13.862,13.862,0,0,0-1.358,1.322,1.536,1.536,0,0,0-.379,1,2.85,2.85,0,0,0,.1.667h-2.2A2.737,2.737,0,0,1,110.965,592.309Zm1.467,6.968a1.851,1.851,0,0,1-1.357-.543,1.831,1.831,0,0,1-.551-1.359,1.875,1.875,0,0,1,.551-1.372,1.835,1.835,0,0,1,1.357-.556,1.87,1.87,0,0,1,1.909,1.928,1.834,1.834,0,0,1-.55,1.359A1.857,1.857,0,0,1,112.432,599.277Z"
							/>
							<path
								d="M97.222,610.717a1.475,1.475,0,0,1-.626-.14,1.459,1.459,0,0,1-.848-1.333V580.572A3.576,3.576,0,0,1,99.32,577h26.69a3.576,3.576,0,0,1,3.572,3.572v20.416a3.576,3.576,0,0,1-3.572,3.571H106.038a2.555,2.555,0,0,0-1.637.594l-6.24,5.22A1.467,1.467,0,0,1,97.222,610.717ZM99.32,579a1.574,1.574,0,0,0-1.572,1.572V608.11l5.37-4.491a4.561,4.561,0,0,1,2.92-1.06H126.01a1.573,1.573,0,0,0,1.572-1.571V580.572A1.574,1.574,0,0,0,126.01,579Z"
							/>
						</g></svg
					><label>FAQ's</label></a
				>
			</li>
			<li class="tutorial">
				<a href="<%- baseUrl %>admin/tutorial"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						width="20.829"
						height="20.829"
						viewBox="0 0 487.194 487.194"
						style="top: 5px; position: relative"
					>
						<g>
							<g>
								<path
									d="M264.911,0c-28.5,0-55.4,6.4-79.5,17.8c-63.6,29.5-107.6,93.8-107.6,168.5l0,0v24.9v6l-37.9,72.4    c-9.6,18.3-0.5,33.2,20.1,33.2h17.8v0.4v31.5v36.9c0,21.5,17.6,39.1,39.1,39.1l53.7-8l0.1,53.7v0.4l0,0    c0.3,6.9,6.1,11.4,13.3,10.2l193.5-34.2c7.3-1.3,13.3-8.4,13.3-15.8v-8.5v-6.9v-98.4c37.1-34,60.3-82.9,60.3-137.1    C451.011,83.3,367.711,0,264.911,0z M359.911,282.6c-44.7,44.7-112.9,51.8-165,21.1l-0.3-0.2c-20.5,15.5-42.5,18.2-57.8,15.8    c-5.1-0.8-6.2-7.7-1.5-10c14-6.9,22.9-20.6,28-31.7l-1.4-1.1c-47.3-53.4-45.4-135.1,5.7-186.2c53.1-53.1,139.2-53.1,192.3,0    S413.011,229.5,359.911,282.6z"
								/>
								<path
									d="M363.111,170.3h-14.1c-2.3-11.9-6.9-23-13.5-32.7l9.9-9.9c3.6-3.6,3.6-9.4,0-13l-10-10c-3.6-3.6-9.4-3.6-13,0l-9.9,9.9    c-9.7-6.6-20.8-11.4-32.8-13.7V87c0-5.1-4.1-9.2-9.2-9.2h-14.2c-5.1,0-9.2,4.1-9.2,9.2v13.7c-12.1,2.2-23.2,6.9-33,13.6l-9.6-9.6    c-3.6-3.6-9.4-3.6-13,0l-10,10c-3.6,3.6-3.6,9.4,0,13l9.6,9.6c-6.7,9.8-11.5,21-13.7,33.1h-13.5c-5.1,0-9.2,4.1-9.2,9.2v14.2    c0,5.1,4.1,9.2,9.2,9.2h13.5c2.3,12.1,7,23.3,13.7,33.1l-9.6,9.6c-3.6,3.6-3.6,9.4,0,13l10,10c3.6,3.6,9.4,3.6,13,0l9.6-9.6    c9.8,6.6,21,11.3,33,13.6v13.7c0,5.1,4.1,9.2,9.2,9.2h14.2c5.1,0,9.2-4.1,9.2-9.2v-13.8c12-2.3,23.1-7,32.8-13.7l9.9,9.9    c3.6,3.6,9.4,3.6,13,0l10-10c3.6-3.6,3.6-9.4,0-13l-9.9-9.9c6.6-9.7,11.3-20.8,13.5-32.7h14.1c5.1,0,9.2-4.1,9.2-9.2v-14.2    C372.311,174.4,368.211,170.3,363.111,170.3z M263.511,127.9c6.4,0,12.6,1,18.3,2.9l-9,15.6c-3.3-0.9-6.8-1.3-10.4-1.3    c-19,0-35.1,12.9-39.9,30.5h-16.8C211.011,148.4,234.811,127.9,263.511,127.9z M282.211,186.4c0,10.9-8.9,19.8-19.8,19.8    s-19.8-8.9-19.8-19.8c0-10.9,8.9-19.8,19.8-19.8C273.411,166.6,282.211,175.5,282.211,186.4z M263.511,245.3    c-28.8,0-52.7-20.7-57.8-48h16.8c4.8,17.5,20.8,30.5,39.9,30.5c3.7,0,7.2-0.5,10.6-1.4l9.2,15.9    C276.411,244.3,270.111,245.3,263.511,245.3z M301.211,231.6l-9.4-16.2c7.4-7.5,11.9-17.7,11.9-29c0-11.4-4.6-21.7-12.1-29.2    l9.2-16c13.1,10.8,21.4,27.1,21.4,45.3S314.111,220.8,301.211,231.6z"
								/>
							</g>
						</g></svg
					><label>Tutorial's</label></a
				>
			</li>
			<!--<li class="static_content"><a href="<%- baseUrl %>admin/static_content"><i class="fa fa-file"></i>
								Static Pages </a></li>	-->
			<li class="manage_pop_content">
				<a href="<%- baseUrl %>admin/manage_pop_content"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 500 350"
						width="20.829"
						height="20.829"
					>
						<path
							d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"
						/></svg
					><label>Popup Content</label></a
				>
			</li>
			<li class="setting">
				<a href="<%- baseUrl %>admin/setting"
					><i class="fa fa-cogs"></i> <label>Settings</label></a
				>
			</li>
			<% } %>
		</ul>
	</div>
</div>
