<!-- include header -->
<% include ../common/header %>
<!-- / end include -->
<style>
	#datatable_filter {
		display: none !important;
	}

	.table.dataTable thead .sorting:after {
		display: none;
		cursor: default;
	}
	.ipsfilter .form-group {position: relative;}
	.ipsfilter label.error {display: block; position: absolute; left:0; top:100%;}
	.appointment_status {
		display: inline-block !important;
		min-width: 80px !important;
		padding: 0.7em 0.6em 0.7em !important;
	}
	.label-secondary{
		background-color: gray;
	}
</style>

<div class="row">
	<div class="page-title">
		<div class="title_left">
			<h3>Appointment History</h3>
		</div>
	</div>


	<div class="form-inline text-right" style="margin-bottom: 5px;">
		<div class="form-group">
			<label style="display: block;text-align: left;">Search: </label>
			<input class="form-control input-sm" id="searchCustomInput" placeholder="Search" />
		</div>

		<div class="form-group">
			<form name="paymentFilter" class="ipsfilter" action="/admin/appointments/datefilter" role="form" method="post">
			<label style="display: block;text-align: left;">Sign up date From & To: </label> 
			<% if(min== ''){%>
			<div class="form-group text-left">
			<input class="form-control input-sm" readonly name="min"  onchange="change()"  id="min" type="text" placeholder="Select from date"><br>
			</div>

			<div class="form-group text-left">
			<input class="form-control input-sm" name="max" readonly onchange="change()"  id="max" type="text" placeholder="Select to date"><br>
			</div>
			<button type="submit" style="margin-top: 4px;" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>
				Submit</button>
			<% } else{%>
			<input class="form-control input-sm" readonly name="min" value="<%=  dateFormat(min, 'yyyy-mm-dd'); %>" onchange="change()"  id="min" type="text" placeholder="Select from date">
			<input class="form-control input-sm" name="max" value="<%=  dateFormat(max, 'yyyy-mm-dd'); %>" readonly onchange="change()"  id="max" type="text" placeholder="Select to date">
			<button type="submit" style="margin-top: 4px;" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>
			Submit</button>
				<% } %>
			<a title="Reset" class="btn btn-primary btn-sm" href="<%- baseUrl %>admin/appointments"
				style="border-radius: 0;margin-top: 4px;"><i class="fa fa-refresh" aria-hidden="true"> </i>
				</a>
			</form>	
		</div>
		<!--<div class="form-group">
			<label style="display: block;text-align: left;">Status: </label>
			<select class="form-control input-sm" id="sortByStatus">
				<option value="">Status</option>
				<option value="active">Active</option>
				<option value="inactive">Inactive</option>
			</select>
		</div>
		<div class="form-group">
			<label style="display: block;visibility: hidden;margin-bottom: 10px;">button</label>
			<a title="Add ISPS" class="btn btn-primary btn-sm" href="<%- baseUrl %>admin/isps/add"
				style="border-radius: 0;"><i class="fa fa-plus-circle" aria-hidden="true"></i>
				Add ISPS</a>
		</div>-->
		<div class="form-group">
			<label style="display: block;visibility: hidden;margin-bottom: 10px;">Export as CSV</label>
			<a id="exportToCSV" title="Export as CSV" class="btn btn-warning btn-sm" href="javascript:void(0);"
				style="border-radius: 0;"><i class="fa fa-file-excel-o"></i>
				Export All as CSV</a>

			<form name="exportToCSVForm" id="exportToCSVForm" method="POST"
				action="<%- baseUrl %>admin/appointments/exportToCsv">
				<input type="hidden" name="userEmailsInForm">
			</form>
		</div>

	</div>


</div>
<br />
<div class="row">
	<div class="x_panel">
		<div class="x_title">
			<h2>View All Appointments</h2>
			<div class="clearfix"></div>
		</div>
		<div class="table-responsive listing-tbl">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation"><a href="<%- baseUrl %>admin/Payments">Subscription</a></li>
				<li role="presentation" class="active"><a href="#">Appointment</a></li>
			</ul>


			<table id="datatable" class="datatable-responsive table table-striped table-bordered dt-responsive nowrap"
				cellspacing="0" width="100%">
				<thead class="bg-green">
					<tr>
						<!-- <th><input name="select_all" value="1" type="checkbox" style="margin-left: 9px;"></th> -->
						<th class="column-title" data-field-name="name">S No.</th>
						<th class="column-title" data-field-name="mail">Name</th>
						<th class="column-title" data-field-name="name">Service Name</th>
						<th class="column-title" data-field-name="address">Paid Amount</th>
						<th class="column-title" data-field-name="coupon_code">Coupon Code</th>
						<th class="column-title" data-field-name="created_date">Created</th>
						<th class="column-title" data-field-name="created_date">Status</th>
					</tr>
				</thead>

				<tbody>
					<% for(var i=0; i<result.length; i++) { %>
					<tr>
						<!-- <td class="datatable-text-wrap"><input type="checkbox" class="grid_checkbox" name="userIds" 
								data-user-names="<%- result[i].name %>" value="<%- result[i].id %>"></td> -->
						<td class="datatable-text-wrap">
									<%= i+1 %></td>		
						<td class="datatable-text-wrap"> <span><%= result[i].name %></span></td>
						<td class="datatable-text-wrap"><%= result[i].title %></td>
						<td class="datatable-text-wrap"><span><%= result[i].amount %></span></td>
						<td class="datatable-text-wrap"><span><%= result[i].coupon_code %></span></td>

						<td class="datatable-text-wrap">
							<script>
								var dateTz = moment("<%= result[i].created_date %>").tz('America/Chicago').format("DD-MM-YYYY hh:mm A");
								document.write(dateTz);
							</script>
						</td>
						<td class="datatable-text-wrap">
							<% if(result[i].status == 'Completed'){ %>
								<span class="label label-success"><%= result[i].status %></span>
							<% } %>
							<% if(result[i].status == 'Upcoming'){ %>
								<span class="label label-secondary appointment_status"><%= result[i].status %></span>
							<% } %>
							<% if(result[i].status == 'Ongoing'){ %>
								<span class="label label-warning appointment_status"><%= result[i].status %></span>
							<% } %>
							<% if(result[i].status == 'No Show'){ %>
								<span class="label label-info appointment_status"><%= result[i].status %></span>
							<% } %>
							<% if(result[i].status == 'Cancelled'){ %>
								<span class="label label-danger"><%= result[i].status %></span>
							<% } %>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>

	</div>
	<!-- /.table-responsive -->
</div>


<!-- Datepicker -->
<link rel="stylesheet" href="<%- baseUrl %>admin/vendors/datepicker/jquery-ui.css">
<script src="<%- baseUrl %>admin/vendors/datepicker/jquery-ui.js"></script>
<script src="<%- baseUrl %>js/sweetalert2.js"></script>
<!-- Datatable -->
<script src="<%- baseUrl %>admin/vendors/datatables.net/jquery.dataTables.min.js"></script>
<link href="<%- baseUrl %>admin/vendors/datatables.net/jquery.dataTables.min.css" rel="stylesheet">
<script src="<%- baseUrl %>admin/vendors/datatables.net/natural.js"></script>
<script>
	function updateDataTableSelectAllCtrl(table) {
		var $table = table.table().node();
		var $chkbox_all = $('tbody input[type="checkbox"]', $table);
		var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
		var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

		// If none of the checkboxes are checked
		if ($chkbox_checked.length === 0) {
			chkbox_select_all.checked = false;
			if ('indeterminate' in chkbox_select_all) {
				chkbox_select_all.indeterminate = false;
			}

			// If all of the checkboxes are checked
		} else if ($chkbox_checked.length === $chkbox_all.length) {
			chkbox_select_all.checked = true;
			if ('indeterminate' in chkbox_select_all) {
				chkbox_select_all.indeterminate = false;
			}

			// If some of the checkboxes are checked
		} else {
			chkbox_select_all.checked = true;
			if ('indeterminate' in chkbox_select_all) {
				chkbox_select_all.indeterminate = true;
			}
		}
	}
	function change(){
         var min , max;
			min = $('#min').datepicker("getDate");
			max = $('#max').datepicker("getDate");
		 if(min !=undefined && max !=undefined &&min !=null && max!=null){	
		   if( min > max ){
			 Swal.fire('From date should less than To date')
			 return false;
		    }
			return true;
	     }
		}

	$(document).ready(function () {
		oTable = $('#datatable').DataTable({
			order: false, // added css in the above page for hide sorting icons
			//order: [[3, 'desc']],
			"columnDefs": [{ "orderable": false, "targets": 4 }, { targets: 0, type: "natural" }, { targets: 1, type: "natural" }],
			"dom": '<"top"i>rt<"bottom"flp><"clear">',
		});
		$("#min").datepicker({
			//minDate: new Date(),
			changeMonth: true,
			changeYear: true,
			dateFormat: 'yy-mm-dd',
			maxDate: 0
		});

		$("#max").datepicker({
			//minDate: new Date(),
			changeMonth: true,
			changeYear: true,
			dateFormat: 'yy-mm-dd',
			maxDate: 0
		});


		// Event listener to the two range filtering inputs to redraw on input
		$('#min, #max').change(function () {
			oTable.draw();
		});

		$('#sortByStatus').change(function () {
			var term = $(this).val(),
				regex = '\\b' + term + '\\b';
			oTable.columns(2).search(regex, true, false).draw();
		});

		$('#searchCustomInput').keyup(function () {
			console.log("sdvbldkh lifhf  :::::::::::::::");
			oTable.search($(this).val()).draw();
		});

		// Handle click on checkbox
		$('#example tbody').on('click', 'input[type="checkbox"]', function (e) {
			var $row = $(this).closest('tr');

			// Get row data
			var data = oTable.row($row).data();

			// Get row ID
			var rowId = data[0];

			// Determine whether row ID is in the list of selected row IDs 
			var index = $.inArray(rowId, rows_selected);

			// If checkbox is checked and row ID is not in list of selected row IDs
			if (this.checked && index === -1) {
				rows_selected.push(rowId);

				// Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
			} else if (!this.checked && index !== -1) {
				rows_selected.splice(index, 1);
			}

			if (this.checked) {
				$row.addClass('selected');
			} else {
				$row.removeClass('selected');
			}

			// Update state of "Select all" control
			updateDataTableSelectAllCtrl(oTable);

			// Prevent click event from propagating to parent
			e.stopPropagation();
		});

		// Handle click on table cells with checkboxes
		$('#example').on('click', 'thead th:first-child', function (e) {
			$(this).parent().find('input[type="checkbox"]').trigger('click');
		});

		// Handle click on "Select all" control
		$('thead input[name="select_all"]', oTable.table().container()).on('click', function (e) {
			if (this.checked) {
				$('#example tbody input[type="checkbox"]:not(:checked)').trigger('click');
			} else {
				$('#example tbody input[type="checkbox"]:checked').trigger('click');
			}

			// Prevent click event from propagating to parent
			e.stopPropagation();
		});

		// Uncheck all checkboxes once page loaded or come back to previous page
		$('#example tbody input[type="checkbox"]:checked').trigger('click');

		// Handle table draw event
		oTable.on('draw', function () {
			// Update state of "Select all" control
			updateDataTableSelectAllCtrl(oTable);
		});

	});

	// Updates "Select all" control in a data table



	$(document).ready(function () {
		// Handle click on checkbox
		var rows_selected = [];
		$('#datatable tbody').on('click', 'input[type="checkbox"]', function (e) {
			var $row = $(this).closest('tr');

			// Get row data
			var data = oTable.row($row).data();

			// Get row ID
			var rowId = data[0];

			// Determine whether row ID is in the list of selected row IDs 
			var index = $.inArray(rowId, rows_selected);

			// If checkbox is checked and row ID is not in list of selected row IDs
			if (this.checked && index === -1) {
				rows_selected.push(rowId);

				// Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
			} else if (!this.checked && index !== -1) {
				rows_selected.splice(index, 1);
			}

			if (this.checked) {
				$row.addClass('selected');
			} else {
				$row.removeClass('selected');
			}

			// Update state of "Select all" control
			updateDataTableSelectAllCtrl(oTable);

			// Prevent click event from propagating to parent
			e.stopPropagation();
		});

		// Handle click on table cells with checkboxes
		$('#datatable').on('click', 'thead th:first-child', function (e) {
			$(this).parent().find('input[type="checkbox"]').trigger('click');
		});

		// Handle click on "Select all" control
		$('thead input[name="select_all"]', oTable.table().container()).on('click', function (e) {
			if (this.checked) {
				$('#datatable tbody input[type="checkbox"]:not(:checked)').trigger('click');
			} else {
				$('#datatable tbody input[type="checkbox"]:checked').trigger('click');
			}

			// Prevent click event from propagating to parent
			e.stopPropagation();
		});

		// Uncheck all checkboxes once page loaded or come back to previous page
		$('#datatable tbody input[type="checkbox"]:checked').trigger('click');

		// Handle table draw event
		oTable.on('draw', function () {
			// Update state of "Select all" control
			updateDataTableSelectAllCtrl(oTable);
		});

		$('#exportToCSV').click(function () {
			// if ($('.grid_checkbox:checked').length == 0) {
			// 	alert("Please select a appointment first to export file."); 
			// } else {
				Swal.fire("Your file will be download soon..");
				var userIds = []
				$('[name="userIds"]:checked').each(function (i) {
					userIds.push($(this).val());
				});
				$("[name='userEmailsInForm']").val(JSON.parse(JSON.stringify(userIds)));
				$('form#exportToCSVForm').submit();
			// }
		});
	});
	$(function () {
		$("form[name='paymentFilter']").validate({
			ignore: [],
			debug: false,
			rules: {
				name: {
					required: true,
					lettersonly: true,
					maxlength: 40,
					normalizer: function (value) {
						return $.trim(value);
					},
				},
				max:{
					required:true,
				    greaterThan: "#min" 
				},
				min:{
					required:true,
				}
			},
			messages:{
				max:{
				    required:"Please enter To date.",
					greaterThan:'From date should less than To date.'
				},
				min:{
					required:"Please enter From date.",
				//	greaterThan:"Must be greater than {0}."
				}
			},

			submitHandler: function (form) {
				$(":submit").attr("disabled", true);
				form.submit();
			}
		});
	});
</script>

<!-- include footer -->
<% include ../common/footer %>
<!-- / end footer -->