<!-- include header -->
<% include ../common/header %>
<!-- / end include -->	
  
    <!-- end:header -->

    <section class="isp_info">
      <div class="container">
        <div class="isp_info_block">
          <div class="isp_pic_circle">
            <% if (result.profileImage == '' || result.profileImage == 'null' || result.profileImage == 'Null') {%>
              <img src="<%= baseUrl%>admin/images/user.png"  style="height: 200px;"> 
              <%}else{%>
              <img src="<%= baseUrl%>uploads/profile/<%= result.profileImage %>">
              <%}%>
          </div>
          <!-- end:isp_pic_circle -->

          <div class="isp_info_sec">
            <div class="row mb-2">
              <div class="col-md-12">
                <h3 class="isp_detail_name"><%= result.name %></h3>
                <div class="rating rating_review_isp_details" data-rateyo-rating="<%= avgRating || 0 %>" style="margin-top: 2px; z-index: -1;"></div>
                <div style="margin-top: -18px; margin-left: 90px;"><span class="isp_detail_no_of_reviews"><a href="#" data-toggle="modal" data-target="#reviewsModal">Reviews <span>(<%= appointments.length%>)</span></a></span></div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <h5>Business Name: <%= result.business_name %></h5>
              </div>
              <div class="col-md-6">
                <% if(result.experience != undefined) { %>
                  <h5 class="isp_info_sec_al_right">Website: <a href="https://<%= result.website %>" target="_blank"><%= result.website %></a></h5>
                <% } else { %>
                  <h5 class="isp_info_sec_al_right">Website: <a href="# %>" target="_blank">Not Yet</a></h5>
                <% } %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <h5>Category: <%= result.business_category.name %></h5>
              </div>

              <div class="col-md-6">
                <h5 class="isp_info_sec_al_right">Address: <%= result.address %></h5>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <% if(result.experience != undefined) { %>
                  <h5>Experience: <%= result.experience %> Years</h5>
                <% } else { %>
                  <h5>Experience: Not found</h5>
                <% } %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 business_hours">
                <h3>Business Hours</h3>
                <% if (todayEndTime == undefined) { %>
                  <h5><span class="business_status">Not Set</span>
                    <a href="#" class="business_hours_details" data-toggle="modal" data-target="#business_hoursModal">More Details</a>
                  </h5>
                <% } else { %>
                  <h5>
                    <% if (isTodayOff == "true") { %>
                      <span class="business_status" style="color:#E74C3C;">Closed</span>
                    <% } %>
                    <% if (isTodayOff == "false") { %>
                      <span class="business_status" style="color:#27AE60;">Open</span>
                      <% if (todayEndTime != "Closed") { %>
                        Closes <%= todayEndTime %>
                      <% } %>
                    <% } %>
                    <a href="#" class="business_hours_details" data-toggle="modal" data-target="#business_hoursModal">More Details</a>
                  </h5>
                <% } %>
              </div>

              <div class="col-md-6 isp_detail_side_btns">
                <a href="#" class="btn_sty_1" data-toggle="modal" data-target="#shareModal"><i class="icofont-share"></i> Share</a>
                <!-- <a href="#" class="btn_sty_1" data-toggle="modal" data-target="#loginModal"><i class="icofont-ui-user"></i> Connect</a> -->
                <a href="#" class="btn_sty_1" data-toggle="modal" data-target="#loginModal"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="17" viewBox="0 0 27 17" style="vertical-align: sub;">
                  <g id="Group_7413" data-name="Group 7413" transform="translate(-129 -11)">
                  <text id="_" data-name="" transform="translate(140 25)" fill="#fff" font-size="16" font-family="icofont, IcoFont"><tspan x="0" y="0"></tspan></text>
                  <text id="_2" data-name="" transform="translate(129 22)" fill="#fff" font-size="10" font-family="icofont, IcoFont"><tspan x="0" y="0"></tspan></text>
                  </g>
                </svg> Connect</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 business_hours">
                <h3>Expectations and Policies</h3>
                <% if(result.bio != undefined) { %>
                  <p><%= result.bio %></p>
                <% } %>
              </div>
            </div>
          </div>
          <!-- end:isp_info_sec -->
        </div>
        <!-- end:isp_info_block -->
      </div>
    </section>
    <!-- end:isp_info -->

    <section class="offered_services">
      <div class="container">
        <div class="isp_titile_block">
          <h3 class="isp_detail_head_2">Offered Services</h3>
        </div>

        <% for(var i=0; i<services.length; i++) { %>
          <div class="offer_ser_box">
            <div class="offer_ser_img" id="service_img1">
              <% if (services.icon == '' || services.icon == 'null' || services.icon == 'Null') {%>
                <img src="<%= baseUrl%>admin/images/user.png"> 
                <%}else{%>
                <img src="<%= baseUrl%>uploads/profile/<%= services[i].icon %>">
                <%}%>
            </div>
            <div class="offer_ser_info">
              <h3 class="offer_ser_heading" id="service_title1"><%= services[i].name %></h3>
              <h4 class="offer_ser_price">$<span id="service_price1"><%= services[i].price %></span></h4>
              <p class="hidden" id="service_advance1" style="display: none;"><%= services[i].advance %></p>
              <p><%= services[i].description %></p>
              <a href="#" class="btn_sty_1" data-toggle="modal" data-target="#loginModal">Book Now</a>
            </div>
          </div>
        <% } %>
        
      </div>
    </section>
    <!-- end:offered_services -->

    <section class="reviews_sec">
      <div class="container">
        <div class="isp_titile_block">
          <h3 class="isp_detail_head_2">Reviews <span>(<%= appointments.length%>)</span></h3>
          <a href="#" data-toggle="modal" data-target="#reviewsModal">View All</a>
        </div>

        <% for(var i=0; i<appointments.length; i++) { %>
          <div class="review_box">
            <div class="review_pic">
              <img src="<%= baseUrl%>uploads/profile/<%= appointments[i].profile %>" alt="">
            </div>
            <div class="review_info">
              <h4 class="isp_ration_user"><%= appointments[i].name %></h4>
              <div class="rating_date">
                <div class="isp_rating">
                  <div class="rateYo rating_review_isp_details" data-rateyo-rating="<%= appointments[i].rate %>" style="z-index: -1;"></div>
                </div>
                <div class="isp_rating_date"><%= dateFormat(appointments[i].start_date, "mmm dd yyyy"); %></div>
              </div>
              <p><%= appointments[i].review %></p>
            </div>
          </div>
        <% } %>
      </div>
    </section>
    <!-- end:reviews_sec -->

    <div class="ips_past_work">
      <div class="container">
        <div class="isp_titile_block">
          <h3 class="isp_detail_head_2">Past Work Images</h3>
        </div>
        <% if(pastWorkImages.length < 1) { %>
          <p>Not Yet</p>
        <% } else { %>
          <ul class="isp_work_list">
            <% for(var i=0; i<pastWorkImages.length; i++) { %>
              <!-- <li><img style="max-height: 230px;" src="<%= baseUrl%>uploads/past_work_images/<%= pastWorkImages[i].image %>" alt=""></li> -->
              <li><img src="<%= baseUrl%>uploads/profile/<%= pastWorkImages[i].image %>" alt=""></li>
            <% } %>
          </ul>
        <% } %>
      </div>
    </div>
    <!-- end:ips_past_work -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
      $('.isp_work_list').slick({
        dots: true,
        infinite: true,
        arrows:false,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 3,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 500,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
    </script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

  <!-- include footer -->
<% include ../common/footer %>
<!-- / end footer -->	

   
  
    

    <!-- terms and condition start -->
    <div class="modal" id="termsModal">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Terms of Service</h4>
            <button type="button" class="close" data-dismiss="modal"><i class="icofont-close"></i></button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper nisl a molestie hendrerit. Curabitur sed sodales urna, at pellentesque ipsum. Donec quis lectus viverra, tincidunt turpis eget, lacinia enim. Nullam in commodo massa. Integer at mauris sit amet est convallis vestibulum. Aenean sodales eros sed massa blandit efficitur. In accumsan vitae neque sit amet accumsan. Etiam in libero sapien.</p>

            <p>Sed quis dapibus diam. Etiam ac velit tellus. Morbi id scelerisque nisi. Nulla id commodo nibh. Praesent volutpat, mauris gravida ullamcorper accumsan, ante purus vulputate orci, sit amet suscipit velit magna non nunc. Curabitur non velit leo. Cras et dolor sed nulla semper ultrices ac ac orci. Aenean viverra suscipit massa ut finibus. Nullam tristique pellentesque mattis. Quisque vitae tincidunt dui. Nam sed aliquet arcu, et mollis enim.
            </p>

            <p>Proin commodo feugiat aliquet. Morbi ac mi massa. Ut sit amet urna est. Curabitur eros sem, porttitor nec arcu eget, egestas convallis sem. Pellentesque sit amet ipsum id ipsum sodales suscipit. Sed eget libero imperdiet, volutpat augue in, viverra odio. Suspendisse a lacus at tellus ullamcorper gravida. Phasellus vestibulum vitae elit ut sodales. Aliquam viverra auctor dolor nec ullamcorper.</p>

            <p>Morbi malesuada risus justo, ut egestas dolor scelerisque nec. Vestibulum scelerisque risus convallis dolor vulputate aliquam. Pellentesque sit amet lectus aliquet, fermentum massa sed, molestie urna. Vivamus gravida molestie dolor, sed malesuada odio rhoncus at. Maecenas sagittis pharetra quam et volutpat. Pellentesque faucibus tortor nec erat feugiat, suscipit iaculis diam commodo. Sed imperdiet, erat sed tempus ultrices, massa nulla efficitur dui, eget efficitur est justo ut ligula. Vivamus in eros nec tortor volutpat viverra id id quam.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- terms and condition end -->

    <!-- Business hours start -->
    <div class="modal" id="business_hoursModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Business Hours</h4>
            <button type="button" class="close" data-dismiss="modal"><i class="icofont-close"></i></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="table-responsive">
              <% if(businessHours == null) { %>
                <p>Not set</p>
              <% } else { %>
              <table class="table">
                <tr>
                  <td>Monday</td>
                  <% if(businessHours.mondayStartTime == 'Closed') { %>
                    <td style="text-align: right; font-weight: 500;">Closed</td>
                  <% } else { %>
                    <td style="text-align: right; font-weight: 500;"><%= businessHours.mondayStartTime %> - <%= businessHours.mondayEndTime %></td>
                  <% } %>
                </tr>
                <tr>
                  <td>Tuesday</td>
                  <% if(businessHours.tuesdayStartTime == 'Closed') { %>
                    <td style="text-align: right; font-weight: 500;">Closed</td>
                  <% } else { %>
                    <td style="text-align: right; font-weight: 500;"><%= businessHours.tuesdayStartTime %> - <%= businessHours.tuesdayEndTime %></td>
                  <% } %>
                </tr>
                <tr>
                  <td>Wednesday</td>
                  <% if(businessHours.wednesdayStartTime == 'Closed') { %>
                    <td style="text-align: right; font-weight: 500;">Closed</td>
                  <% } else { %>
                    <td style="text-align: right; font-weight: 500;"><%= businessHours.wednesdayStartTime %> - <%= businessHours.wednesdayEndTime %></td>
                  <% } %>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <% if(businessHours.thrusdayStartTime == 'Closed') { %>
                    <td style="text-align: right; font-weight: 500;">Closed</td>
                  <% } else { %>
                    <td style="text-align: right; font-weight: 500;"><%= businessHours.thrusdayStartTime %> - <%= businessHours.thrusdayEndTime %></td>
                  <% } %>
                </tr>
                <tr>
                  <td>Friday</td>
                  <% if(businessHours.fridayStartTime == 'Closed') { %>
                    <td style="text-align: right; font-weight: 500;">Closed</td>
                  <% } else { %>
                    <td style="text-align: right; font-weight: 500;"><%= businessHours.fridayStartTime %> - <%= businessHours.fridayEndTime %></td>
                  <% } %>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <% if(businessHours.saturdayStartTime == 'Closed') { %>
                    <td style="text-align: right; font-weight: 500;">Closed</td>
                  <% } else { %>
                    <td style="text-align: right; font-weight: 500;"><%= businessHours.saturdayStartTime %> - <%= businessHours.saturdayEndTime %></td>
                  <% } %>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <% if(businessHours.sundayStartTime == 'Closed') { %>
                    <td style="text-align: right; font-weight: 500;">Closed</td>
                  <% } else { %>
                    <td style="text-align: right; font-weight: 500;"><%= businessHours.sundayStartTime %> - <%= businessHours.sundayEndTime %></td>
                  <% } %>
                </tr>
              </table>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Business hours end -->

    <!-- reviews start -->
    <div class="modal" id="reviewsModal">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Reviews</h4>
            <button type="button" class="close" data-dismiss="modal"><i class="icofont-close"></i></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <% for(var i=0; i<appointments.length; i++) { %>
              <div class="review_box">
                <div class="review_pic">
                  <img src="<%= baseUrl%>uploads/profile/<%= appointments[i].profile %>" alt="">
                </div>
                <div class="review_info">
                  <h4 class="isp_ration_user"><%= appointments[i].name %></h4>
                  <div class="rating_date">
                    <div class="isp_rating">
                      <div class="rateYo rating_review_isp_details" data-rateyo-rating="<%= appointments[i].rate %>"></div>
                    </div>
                    <div class="isp_rating_date"><%= dateFormat(appointments[i].start_date, "mmm dd yyyy"); %></div>
                  </div>
                  <p><%= appointments[i].review %></p>
                </div>
              </div>
            <% } %>
    
          </div>
        </div>
      </div>
    </div>
    <!-- reviews end -->

    <!-- share start -->
    <div class="modal" id="shareModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Share</h4>
            <button type="button" class="close" data-dismiss="modal"><i class="icofont-close"></i></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="invitation_code_sec">
              <label>Invitation Code</label>
              <div class="invitation_code"><%- result.inviteCode %></div>
            </div>
            <div class="share_seprator">
              <span>Share Link</span>
            </div>
            <ul class="social_share">
              <li>
                <a href="https://www.facebook.com/sharer.php?u=<%- baseUrl %>share?verifyCode=<%= result._id %>
					&client_id=3199387653679851
					&redirect_uri=https://stage.oyoapp.com
					&display=popup"> 
                  <img src="<%- baseUrl %>img/facebook.png" alt="">
                  <span>Facebook</span>
                </a>
              </li> 

              <li>
                <a target="_blank" href="https://twitter.com/intent/tweet?url=<%- baseUrl %>share?verifyCode=<%= result._id %>">
                  <img src="<%- baseUrl %>img/twitter.png" alt="">
                  <span>Twitter</span>
                </a>
              </li>

              <li>
                <a href="mailto:?subject=Invitation code&body= <%= result.name %> - <%= result.inviteCode %> , Please visit oyoapp.com use my invitation code to search and connect with me. <%- baseUrl %>">
                  <img src="<%- baseUrl %>img/email.png" alt="">
                  <span>E-Mail</span>
                </a>
              </li>

              <li>
                <a href="#" onClick="return  myFunction();">
                  <img src="<%- baseUrl %>img/copy-code.png" alt="">
                  <span>Copy</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- share end -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    <script src="<%- baseUrl %>js/sweetalert2.js"></script>
  <script>
    function myFunction() {
  /* Get the text field */
  var copyText = "<%- result.inviteCode %>";

  /* Select the text field */
  // copyText.select()
  // copyText.setSelectionRange(0, 99999); /* For mobile devices */

   /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText);

  /* Alert the copied text */
  Swal.fire("Copied the text: " + copyText);
}
    $("#shareModal").modal({
			show: false,
			backdrop: 'static'
		});
    $("#business_hoursModal").modal({
			show: false,
			backdrop: 'static'
		});
  </script>
  <script>
    $(function () {
      $(".rating").rateYo({
          readOnly: true,
          starWidth: "15px",
          ratedFill: "#fe724c"
      });
      $(".rating").rateYo();
    });
  </script>
  <script>
    $(".rateYo").rateYo({
      readOnly: true,
      starWidth: "17px",
      ratedFill: "#fe724c"
    });
  </script>