<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Admin</title>

	<!-- Bootstrap -->
	<link href="<%- baseUrl %>admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="<%- baseUrl %>admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- NProgress -->
	<link href="<%- baseUrl %>admin/vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- Animate.css -->
	<link href="<%- baseUrl %>admin/vendors/animate.css/animate.min.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="<%- baseUrl %>admin/build/css/custom.css" rel="stylesheet">

	<script src="<%- baseUrl %>admin/vendors/jquery/dist/jquery.min.js"></script>

	<!-- validation -->
	<script src="<%- baseUrl %>validation/jquery.validate.min.js"></script>
	<script src="<%- baseUrl %>validation/custom.validate.js"></script>
</head>

<body class="login">
	<div>
		<% if (error.length > 0) { %>
		<div class="alert alert-danger common-notification-alert text-center"><%- error %></div>
		<% } %>

		<% if (success.length > 0) { %>
		<div class="alert alert-success common-notification-alert text-center"><%- success %></div>
		<% } %>
		<script>
			setTimeout(function () { $('.common-notification-alert').slideUp(); }, 5000);	
		</script>



		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">
					<div class="col-sm-12 text-center" style="margin-bottom: 19px;">
						<h1> <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="margin-right: 12px;"
								width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20"
								xml:space="preserve">
								<path d="M19.4,4.1l-9-4C10.1,0,9.9,0,9.6,0.1l-9,4C0.2,4.2,0,4.6,0,5s0.2,0.8,0.6,0.9l9,4C9.7,10,9.9,10,10,10s0.3,0,0.4-0.1l9-4
												              C19.8,5.8,20,5.4,20,5S19.8,4.2,19.4,4.1z"></path>
								<path d="M10,15c-0.1,0-0.3,0-0.4-0.1l-9-4c-0.5-0.2-0.7-0.8-0.5-1.3c0.2-0.5,0.8-0.7,1.3-0.5l8.6,3.8l8.6-3.8c0.5-0.2,1.1,0,1.3,0.5
												              c0.2,0.5,0,1.1-0.5,1.3l-9,4C10.3,15,10.1,15,10,15z"></path>
								<path d="M10,20c-0.1,0-0.3,0-0.4-0.1l-9-4c-0.5-0.2-0.7-0.8-0.5-1.3c0.2-0.5,0.8-0.7,1.3-0.5l8.6,3.8l8.6-3.8c0.5-0.2,1.1,0,1.3,0.5
												              c0.2,0.5,0,1.1-0.5,1.3l-9,4C10.3,20,10.1,20,10,20z"></path>
							</svg>OYO </h1>
					</div>
					<form name="login_form" role="form" action="/admin/login" role="form" method="post"
						class="login-form">
						<h1>Admin Login</h1>
						<div class="form-group">
							<input type="text" class="form-control" name="email" placeholder="Email"
								value="jaisurya.1@otssolutions" required="" />
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password" value="jai123"
								placeholder="Password" required="" />
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary submit" style="float: left;">Log in</button>
							<a class="reset_pass" href="<%- baseUrl %>admin/forgotpassword"
								style="margin-right: 0;">Forgot password?</a>
						</div>


						<!--
								   <audio controls>
										<source src="<%- baseUrlAWSDraftBucket %>hariom22oct_2.wav" type="audio/wav">
									</audio>
									
									<div class="row">	
										<div class="col-sm-12">
											<audio controls>
												<source src="<%- baseUrlAWSDraftBucket %>horse.mp3" type="audio/mpeg">
											</audio>
										</div>	
									</div>	
									-->

						<div class="clearfix"></div>

					</form>
				</section>
				<div class="separator"></div>
			</div>


			<style>
				form label.error {
					color: #a94442;
					font-weight: 100;
					font-size: 11px;
					float: left;
				}

				.login_content form input,
				.login_content form select,
				.login_content form textarea {
					margin-bottom: 0 !important;
				}

				.login_content form .form-group {
					height: 52px;
				}
			</style>
			<script>
				$(function () {
					$("form[name='login_form']").validate({
						rules: {
							email: {
								required: true,
								email: true
							},
							password: {
								required: true
							}

						},

						messages: {
							email: {
								required: "Please Enter Your Email Address",
								email: "Incorrect Email."
							},
							password: {
								required: "Please Enter Your Password."
							}

						},
						submitHandler: function (form) {
							form.submit();
						}
					});
				});

			</script>
			<script type='text/javascript'>
				(function (global) {

					if (typeof (global) === "undefined") {
						throw new Error("window is undefined");
					}

					var _hash = "!";
					var noBackPlease = function () {
						global.location.href += "#";

						// making sure we have the fruit available for juice....
						// 50 milliseconds for just once do not cost much (^__^)
						global.setTimeout(function () {
							global.location.href += "!";
						}, 50);
					};

					// Earlier we had setInerval here....
					global.onhashchange = function () {
						if (global.location.hash !== _hash) {
							global.location.hash = _hash;
						}
					};

					global.onload = function () {

						noBackPlease();

						// disables backspace on page except on input fields and textarea..
						document.body.onkeydown = function (e) {
							var elm = e.target.nodeName.toLowerCase();
							if (e.which === 8 && (elm !== 'input' && elm !== 'textarea')) {
								e.preventDefault();
							}
							// stopping event bubbling up the DOM tree..
							e.stopPropagation();
						};

					};

				})(window);
			</script>
		</div>
	</div>
</body>

</html>