<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Reset Password</title>

	<!-- Bootstrap -->
	<link href="<%- baseUrl %>admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="<%- baseUrl %>admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- NProgress -->
	<link href="<%- baseUrl %>admin/vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- Animate.css -->
	<link href="<%- baseUrl %>admin/vendors/animate.css/animate.min.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="<%- baseUrl %>admin/build/css/custom.min.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="<%- baseUrl %>admin/build/css/custom.css" rel="stylesheet">

	<script src="<%- baseUrl %>admin/vendors/jquery/dist/jquery.min.js"></script>

	<!-- validation -->
	<script src="<%- baseUrl %>validation/jquery.validate.min.js"></script>
	<script src="<%- baseUrl %>validation/custom.validate.js"></script>

</head>

<body class="login">
	<div>
		<% if (error.length > 0) { %>
		<div class="alert alert-danger common-notification-alert text-center"><%- error %></div>
		<% } %>

		<% if (success.length > 0) { %>
		<div class="alert alert-success common-notification-alert text-center"><%- success %></div>
		<% } %>
		<script>
			setTimeout(function () { $('.common-notification-alert').slideUp(); }, 5000);	
		</script>

		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">
					<div class="col-sm-12 text-center" style="margin-bottom: 19px;">
						<a href="<%- baseUrl %>admin"><img src="<%- baseUrl %>admin/images/logo.png" alt="Logo"
								style="width: 24%;"></a>
					</div>
					<form name="reset_password" role="form" action="/admin/staff/reset_password" role="form"
						method="post" class="login-form ">
						<h1>Reset Password</h1>
						<div class="form-group">
							<label for="password" class="sr-only">Password</label>
							<input type="password" name="password" id="password" class="form-control  form-username"
								placeholder="Password" required />
						</div>
						<div class="form-group">
							<label for="confirm_password" class="sr-only">Confirm Password</label>
							<input type="password" name="confirm_password" id="confirm_password"
								class="form-control  form-username" placeholder="Confirm Password" required />
						</div>
						<button type="submit" class="btn btn-primary submit" style="float: left;">Reset
							Password</button>

					</form>
				</section>
				<div class="separator">
				</div>
			</div>
			<style>
				form label.error {
					color: #a94442;
					font-weight: 100;
					font-size: 11px;
					float: left;
				}

				.login_content form input,
				.login_content form select,
				.login_content form textarea {
					margin-bottom: 0 !important;
				}

				.login_content form .form-group {
					height: 52px;
				}
			</style>

			<script>
				//alert();
				$('form[name="reset_password"]').attr('action', window.location.href);
				$(function () {
					$("form[name='reset_password']").validate({
						rules: {
							password: {
								required: true,
								noSpace: true,
								alphanumericspecial: true,
								minlength: 8,
								maxlength: 15
							},
							confirm_password: {
								required: true,
								equalTo: "#password",
								alphanumericspecial: true,
								noSpace: true,
								minlength: 8,
								maxlength: 15
							}

						},

						messages: {
							password: {
								required: "Please Enter Your Password.",
								minlength: "Minimum password length is 8.",
								maxlength: "Maximum password length is 15.",
							},
							confirm_password: {
								required: "Please enter password to confirm .",
								minlength: "Minimum password length is 8.",
								maxlength: "Maximum password length is 15.",
								equalTo: "Passwords do not match. Please, try again!"
							}
						},
						submitHandler: function (form) {
							form.submit();
						}
					});
				});

			</script>

		</div>
	</div>
</body>

</html>