	<footer class="footer">
        <p>© Company <%- currentYear %>  </p>
      </footer>

    </div>
	
	
		<!-- Javascript -->
        <!--
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="<%- baseUrl %>js/scripts.js"></script>
		-->
		
		<script src="<%- baseUrl %>js/jquery-1.11.2.min.js"></script>
		<script src="<%- baseUrl %>js/bootstrap/popper.min.js"></script>
        <script src="<%- baseUrl %>js/bootstrap.min.js"></script>
        

    </body>

</html>