<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Express App</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
		
		<!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		-->
		
		<link rel="stylesheet" href="<%- baseUrl %>css/bootstrap.css">
        <link rel="stylesheet" href="<%- baseUrl %>css/font-awesome.min.css">
		<link rel="stylesheet" href="<%- baseUrl %>css/narrow-jumbotron.css">
		<!-- <link rel="stylesheet" href="<%- baseUrl %>css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="<%- baseUrl %>css/bootstrap-grid.min.css"> -->
		
     <!--
        <link rel="stylesheet" href="<%- baseUrl %>css/style.css">-->

    </head>

    <body>
		<div class="container">
			 <div class="header clearfix">
				<nav>
				  <ul class="nav nav-pills float-right">
						<li class="nav-item"><a class="nav-link" href="<%- baseUrl %>admin">Admin</a></li>
						<% if (user_session) { %>
							<li class="nav-item text-xs-warning"><a class="nav-link  <% if (active == "home") { %>active <% } %>" href="<%- baseUrl %>home">Home</a></li>
							<li class="nav-item nav-link"></li>
							<div class="dropdown show">
								  <a class="btn dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Hi <%- user_session.name %> ! 
								  </a>
								 <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item" href="<%- baseUrl %>logout">Logout</a>
									<a class="dropdown-item" href="#">Profile</a>
									<a class="dropdown-item" href="#">Something else here</a>
								  </div>
							</div>
							
						<% }else{ %>
							<li class="nav-item"><a class="nav-link" href="<%- baseUrl %>login">Login</a></li>
							<li class="nav-item"><a class="nav-link" href="<%- baseUrl %>signup">Signup</a></li>
						<% } %>	
					
					
				  </ul>
				</nav>
				<h3 class="text-muted">Express </h3>
			  </div>
			  
			 
			  <% if (error.length > 0) { %>
					<div class="alert alert-danger text-center"><%- error %></div>
			  <% } %>

			   <% if (success.length > 0) { %>
					<div class="alert alert-success text-center"><%- success %></div>
			  <% } %>
       
	   
				